.hero {
  min-height: 100vh;
  background: transparent;

  display: flex;
  align-items: center;

  padding: 0 60px;
}
.hero-left,
.hero-right {
  flex: 1;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: 'Sprintura', sans-serif;
  font-size: 3rem;
  margin: 10px 0;
}
.name {
  color: #8b5cf6;
}
.hero h3 {
  font-size: 1.5rem;
}

.hero p {
  max-width: 600px;
  line-height: 1.6;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  margin-top: 18px;
}
.profile-img {
  width: 55%;
  height: auto;
}