<section class="hero">
  <div class="hero-left">
    <div>

      <h1>
        Hola, soy <span class="name">Jamie Vilchez</span>
      </h1>

      <h3>Full Stack Developer</h3>

      <p>
        Egresado de la universidad con +3 años de experiencia en desarrollo aplicaciones web para uso empresarial
      </p>

      <div class="social-links">
        <app-link-button text="LinkedIn" icon="/linkedin.png" href="https://linkedin.com" />

        <app-link-button text="GitHub" icon="/github.png" href="https://github.com" />

        <app-link-button text="yamivritra@gmail.com" icon="/email.png" href="#articles" />

        <app-link-button text="Proyectos" icon="" href="#projects" />

      </div>

    </div>
  </div>

  <div class="hero-right">
  <img src="/perfil.jpg" alt="Foto de perfil" class="profile-img">
  </div>



</section>